/*DEFAULTS*/

a {
  text-decoration: none;
}

body {
  background-color: #5CA4A9;
  font-family: 'Raleway', sans-serif;
}

.hide {
  display: none;
}

.overlay {
    background-color: rgba(0, 0, 0, 0);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    pointer-events: none;
}

@-ms-viewport {
  width: device-width;
}

/*HEADER*/
header {
  align-items: center;
  margin-bottom: 10px;
}
.header-wrapper {
  justify-content: center;
  width: 100%;
}

h1 {
  color: #F4F1BB;
  display: flex;
  justify-content: center;
  font-size: 55px;
  margin-bottom: 30px;
}

.instructions-text {
  background-color: #5CA4A9;
  border: none;
  color: #F4F1BB;
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin: 0 auto;
  width: 100px;
}

.instructions-overlay-heading {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  margin-top: 5px;
  text-decoration: underline;
}

.instructions-contents {
  line-height: 35px;
  font-size: 20px;
  font-weight: bold;
}

/*MAIN*/
main {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 495px;
}

.instructions-overlay {
  display: none;
  position: absolute;
  background-color: rgba(244,241,187,0.9);
  border: 3px solid rgba(105,105,105,1);
  border-radius: 15px;
  color: #5CA4A9;
  height: 495px;
  width: 495px;
}

.tiles-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tile {
  background-color: #696969;
  border: 3px solid rgba(244,241,187,0.8);
  border-radius: 10px;
  height: 150px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 150px;
}

/*TILE TOGGLES*/
.tile1-lit {
  background-color: #00FFFF;
  border: 3px solid rgba(105,105,105,0.9);
}
.tile2-lit {
  background-color: #FF00C3;
  border: 3px solid rgba(105,105,105,0.9);
}
.tile3-lit {
  background-color: #FFFB00;
  border: 3px solid rgba(105,105,105,0.9);
}
.tile4-lit {
  background-color: #84FF00;
  border: 3px solid rgba(105,105,105,0.9);
}
.tile5-lit {
  background-color: #FF0000;
  border: 3px solid rgba(105,105,105,0.9);
}
.tile6-lit {
  background-color: #AF00E7;
  border: 3px solid rgba(105,105,105,0.9);
}
.tile7-lit {
  background-color: #FF9419;
  border: 3px solid rgba(105,105,105,0.9);
}
.tile8-lit {
  background-color: #0004FF;
  border: 3px solid rgba(105,105,105,0.9);
}
.tile9-lit {
  background-color: #E9FF0A;
  border: 3px solid rgba(105,105,105,0.9);
}

/*FOOTER*/
footer {

}

/*STATS*/
.stats-wrapper {
  color: #F4F1BB;
  display: flex;
  font-weight: bolder;
  font-size: 40px;
  justify-content: space-around;
}

.play-check-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.play-button {
  background-color: #F4F1BB;
  border-radius: 5px;
  color: #5CA4A9;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: bolder;
  margin-right: 10px;
  padding-left: auto;
  padding-right: auto;
  width: 180px;
}

.check-button {
  background-color: #F4F1BB;
  border-radius: 5px;
  color: #5CA4A9;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: bolder;
  margin-left: 10px;
  padding-left: auto;
  padding-right: auto;
  width: 180px;
}

.restart-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.restart-button {
  background-color: #ED6A5A;
  border-radius: 5px;
  color: #F4F1BB;
  display: none;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: bolder;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: auto;
  padding-right: auto;
}

.level, .score, .lives {
}


/*MEDIA QUERY*/
@media screen and (max-width: 500px) {

  main {
  width: 345px;
  }

  .instructions-overlay {
    height: 345px;
    width: 345px;
  }

  .instructions-overlay-heading {
    font-size: 20px;
  }

  .instructions-contents {
    font-size: 13px;
    line-height: 30px;
  }

  .tile {
  height: 100px;
  width: 100px;
  }

  .play-button {
    font-size: 25px;
    padding-left: auto;
    padding-right: auto;
    width: 120px;
  }

  .check-button {
    font-size: 25px;
    padding-left: auto;
    padding-right: auto;
    width: 120px;
  }

  .restart-button {
    font-size: 25px;
    padding: 1px 5px;
    width: 120px;
  }

  .stats-wrapper {
    font-size: 30px;
  }
}

@media screen and (max-width: 350px) {
  main {
  width: 225px;
  }

  .instructions-overlay {
    height: 225px;
    width: 225px;
  }

  .instructions-overlay-heading {
    font-size: 13px;
  }

  .instructions-contents {
    font-size: 10px;
    line-height: 20px;
  }

  .instructions-text {
    font-size: 10px;
    width: 50px;
  }

  ul {
    margin-left: -10px;
  }

  h1 {
    font-size: 20px;
  }

  .tile {
  height: 60px;
  width: 60px;
  }

  .play-button {
    font-size: 16px;
    padding-left: auto;
    padding-right: auto;
    width: 72px;
  }

  .check-button {
    font-size: 16px;
    padding-left: auto;
    padding-right: auto;
    width: 72px;
  }

  .restart-button {
    font-size: 16px;
    width: 72px;
  }

  .stats-wrapper {
    font-size: 15px;
  }
}
