/*DEFAULT*/
a {
  text-decoration: none;
}

body {
  background-color: #5CA4A9;
  font-family: 'Raleway', sans-serif;
}

.hide {
  display: none;
}

/*HEADER*/
header {
  align-items: center;
  color: #F4F1BB;
  display: flex;
  margin-bottom: 10px;
}
.header-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

h1 {
  font-size: 55px;
}

/*MAIN*/

main {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 495px;
}

.tiles-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tile {
  background-color: #696969;
  border: 3px solid rgba(244,241,187,0.6);
  border-radius: 10px;
  height: 150px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 150px;
}

/*TILE TOGGLES*/
.tile1-lit {
  background-color: #00FFFF;
  border: 3px solid rgba(182,182,182,0.9);
}
.tile2-lit {
  background-color: #FF00C3;
  border: 3px solid rgba(182,182,182,0.9);
}
.tile3-lit {
  background-color: #FFFB00;
  border: 3px solid rgba(182,182,182,0.9);
}
.tile4-lit {
  background-color: #84FF00;
  border: 3px solid rgba(182,182,182,0.9);
}
.tile5-lit {
  background-color: #FF0000;
  border: 3px solid rgba(182,182,182,0.9);
}
.tile6-lit {
  background-color: #AF00E7;
  border: 3px solid rgba(182,182,182,0.9);
}
.tile7-lit {
  background-color: #FF9419;
  border: 3px solid rgba(182,182,182,0.9);
}
.tile8-lit {
  background-color: #0004FF;
  border: 3px solid rgba(182,182,182,0.9);
}
.tile9-lit {
  background-color: #E9FF0A;
  border: 3px solid rgba(182,182,182,0.9);
}

/*FOOTER*/
footer {

}

/*STATS*/
.stats-wrapper {
  color: #F4F1BB;
  display: flex;
  font-weight: bolder;
  font-size: 40px;
  justify-content: space-around;
}

.start-check-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.start-button {
  background-color: #F4F1BB;
  border-radius: 5px;
  color: #5CA4A9;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: bolder;
  margin-right: 10px;
  width: 180px;
}

.check-button {
  background-color: #F4F1BB;
  border-radius: 5px;
  color: #5CA4A9;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: bolder;
  margin-left: 10px;
  width: 180px;
}

.restart-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.restart-button {
  background-color: #ED6A5A;
  border-radius: 5px;
  color: #F4F1BB;
  display: none;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: bolder;
  padding: 3px 15px;
}

.level, .score, .lives {
}

/**/
